.main {
    min-width: 360px;
}

#Time_change {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
}

#prayerTable {
    text-align: left;
    width: 100%;
}

#jumah_header_row
{
    text-align: left;
}

#date {
    color: black;
    text-align: center;
    font-weight: bold;
}

#clock {
    color: black;
    text-align: center;
    font-weight: bold;
    line-height: 1.2;
    font-size: 1.1rem;
}

td[colspan="3"] {
    text-align: center;
}

.table th{
    background-color:#ccc;
}

.table td, .table th {
    border:1px solid #ccc;
}